---
import SpeedInsights from "@vercel/speed-insights/astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer.astro";
import ButtonChat from "../components/ButtonChat";
import "aos/dist/aos.css";
import SocialProof from "../components/SocialProof";
import SocialRequest from "../components/SocialRequest";

interface Props {
  content: string;
  title: string;
}

const { title, content } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={content} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />

    <link
      rel="icon"
      type="image/webp"
      href="/img/title-icon.webp"
      sizes="120x120"
    />

    <!-- Google Tag Manager -->
    <script async defer is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NT3H9XXW");
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      defer
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=AW-11465331667"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-11465331667");
    </script>
    <!-- End Google Tag Manager -->

    <meta
      name="google-site-verification"
      content="mYTM7w20cgtRtlR9aFWNFViHfvRiKXcCrYxMptzOg2M"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- open graph general -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={content} />
    <meta
      property="og:image"
      content="https://cayadservices.com/img/vd.webp"
    />
    <meta property="og:url" content="https://cayadservices.com/" />
    <meta property="og:type" content="website" />
    <!-- open graph general-->

    <title>{title}</title>
  </head>
  <body class="relative">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NT3H9XXW"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Navbar client:load />
    <slot />
    <ButtonChat client:load />
    <Footer />
    <SocialProof client:load />
    <SocialRequest client:load />
    <script>
      import { aosInit } from "../lib/aos";

      // runs on initial page load
      aosInit();
    </script>
  </body>
</html>
